
#hero {
  margin-top: 20px;
  background: url('../images/heroimage1.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.heroText {
  width: 100%;
  height: 335px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  z-index: +1;
}

.heroText h1 {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-style: black;
  font-size: 70px;
  text-align: center;
	color: white;
}

.heroText h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: black;
  font-size: 40px;
  text-align: center;
	color: white;
  margin-bottom: 50px;
}

#money {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 50px;
  margin-left: 7%;
  width: 100%;
  text-align: center;
	color: black;
}

#membership {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  text-align: center;
  width: 85%;
  height: 240px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#membership h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 40px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 20px;
}

#membership p {
  margin-bottom: 30px;
  line-height: 20px;
}

#membership a {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  background-color: #00a651;
  color: white;
}

#membership a:hover {
  background-color: grey ;
  color: white;
}

#fundraising {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-top: 50px;
  width: 85%;
  height: 240px;
  background-color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

#fundraising h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 20px;
}

#fundraising p {
  margin-bottom: 10px;
  line-height: 20px;
}

#fundraising a {
  font-family: "Oswald", sans-serif;
  font-weight: 200;
  font-size: 20px;
  margin-top: 20px;
  text-decoration: none;
  padding: 10px;
  background-color: #00a651;
  color: white;
}

#fundraising a:hover {
  background-color: grey ;
  color: white;
}

#Few {
  margin-top: 100px;
  margin-bottom: 97px;
  display: flex;
  flex-direction: row;
  float: right;
  width: 100%;
  height: 600px;
}

#Few img{
  display: none;
}

#Few h3 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
}

#Few p {
  line-height: 30px;
  margin-top: 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

#Few a{
  text-decoration: none;
  color: #00a651;
}

#Few a:hover {
  color: black;
}

#fewText {
  margin-left: 10px;
  width: 100%;
  height: 500px;
}

.latestNews {
  margin-top: 97px;
  width: 100%;
}

.latestNews h1{
  margin-top: 97px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.Events{
  margin-top: 36px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Event img{
  width: 100%;
  height: 300px;
}

.Event h3 {
  margin-top: 20px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.Event h4 {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.Event p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 15.35px;
}

.text {
  width: 100%;
  height: 220px;
  line-height: 28.79px;
}

.text a{
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: #00a651;
}



.Gear {
  margin-top: 90px;
  margin-bottom: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Gear p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: white;
  font-size: 20px;
}

.Gear a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #00a651;
}

.gear {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.merch {
  width: 95%;
  margin-top: 50px;
  height: 360px;
  border: solid 2px black;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.merch img {
  width: 100%;
  height: 360px;
}


.caption {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 70px;
  width: 100%;
  color: black;
  text-align: center;
  position: relative;
  top: -270px;
}


.caption p {
  color: black;
}

.caption a{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding:10px;
  margin-top: 70px;
  background-color: #00a651;
}

.caption a:hover{
  background-color: grey;
}

.CProject {
  margin-top: 90px;
  margin-bottom: 60px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.CProject p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 30px;
  color: white;
  font-size: 20px;
}

.CProject a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #00a651;
}

.CPro {
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.box {
  margin-top: 50px;
  width: 100%;
  height: 360px;
}

.box img {
  width: 100%;
  height: 360px;
}

.Bcaption {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  line-height: 50px;
  width: 100%;
  color: white;
  text-align: center;
  position: relative;
  top: -270px;
}

.Bcaption a{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding:10px;
  margin-top: 70px;
  background-color: #00a651;
}

.Bcaption a:hover{
  background-color: grey;
}

.Pbtn {
  margin-top: 63px;
  margin-bottom: 60px;
}

.Pbtn a {
	margin-top: 70px;
	font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 30px;
  text-decoration: none;
  padding: 10px;
  color: white;
  background-color: #00a651;
}

.Pbtn a:hover {
  background-color: grey;
}

@media screen and (min-width: 600px) {

  #hero {
    margin-top: 20px;
    background: url('../images/heroimage1.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 500px;
  }

  .heroText {
    width: 100%;
    height: 335px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 250px;
    z-index: +1;
  }

  .heroText h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: black;
    font-size: 70px;
    text-align: center;
  	color: white;
  }

  .heroText h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: black;
    font-size: 40px;
    text-align: center;
  	color: white;
    margin-bottom: 50px;
  }

  #money {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    margin-left: 20%;
    position: absolute;
    top: 600px;
    z-index: +1;
    text-align: center;
  	color: black;
  }

  #membership {
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: normal;
    text-align: center;
    width: 25%;
    height: 240px;
    margin-right: 110px;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #membership h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 40px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  #membership p {
    margin-bottom: 30px;
    line-height: 20px;
  }

  #membership a {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: #00a651;
    color: white;
  }

  #membership a:hover {
    background-color: grey ;
    color: white;
  }

  #fundraising {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    width: 25%;
    height: 240px;
    margin-top: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }

  #fundraising h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 40px;
    font-weight: 700;
    margin-top: 35px;
    margin-bottom: 20px;
  }

  #fundraising p {
    margin-bottom: 10px;
    line-height: 20px;
  }

  #fundraising a {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 20px;
    text-decoration: none;
    padding: 10px;
    background-color: #00a651;
    color: white;
  }

  #fundraising a:hover {
    background-color: grey ;
    color: white;
  }

  #Few {
    margin-top: 200px;
    margin-bottom: 97px;
    display: flex;
    flex-direction: row;
    float: right;
    width: 1280px;
    height: 600px;
  }

  #Few img{
    display: block;
    width: 640px;
    height: 600px;
  }

  #Few h3 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 40px;
  }

  #Few p {
    line-height: 30px;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

  #Few a{
    text-decoration: none;
    color: #00a651;
  }

  #Few a:hover {
    color: black;
  }

  #fewText {
    margin-top: 50px;
    margin-left: 50px;
    width: 500px;
    height: 500px;
  }

  .latestNews {
    margin-top: 97px;
  }

  .latestNews h1{
    margin-top: 97px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
  }

  .Events{
    margin-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .Event img{
    width: 400px;
    height: 300px;
  }

  .Event h3 {
    margin-top: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

  .Event h4 {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 20px;
  }

  .Event p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 15.35px;
  }

  .text {
    width: 400px;
    height: 220px;
    line-height: 28.79px;
  }

  .text a{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #00a651;
  }



  .Gear {
    margin-top: 90px;
    margin-bottom: 60px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .Gear p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: white;
    font-size: 20px;
  }

  .Gear a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #00a651;
  }

  .gear {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .merch {
    width: 360px;
    height: 360px;
    border: solid 2px black;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  }

  .merch img {
    width: 360px;
    height: 360px;
  }


  .caption {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 70px;
    color: black;
    text-align: center;
    position: relative;
    top: -270px;
  }


  .caption p {
    color: black;
  }

  .caption a{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding:10px;
    margin-top: 70px;
    background-color: #00a651;
  }

  .caption a:hover{
    background-color: grey;
  }

  .CProject {
    margin-top: 90px;
    margin-bottom: 60px;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .CProject p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 30px;
    color: white;
    font-size: 20px;
  }

  .CProject a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #00a651;
  }

  .CPro {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .box {
    width: 360px;
    height: 360px;
  }

  .box img {
    width: 360px;
    height: 360px;
  }

  .Bcaption {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    line-height: 50px;
    color: white;
    text-align: center;
    position: relative;
    top: -270px;
  }

  .Bcaption a{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding:10px;
    margin-top: 70px;
    background-color: #00a651;
  }

  .Bcaption a:hover{
    background-color: grey;
  }

  .Pbtn {
    margin-top: 63px;
    margin-bottom: 60px;
  }

  .Pbtn a {
  	margin-top: 70px;
  	font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-size: 30px;
    text-decoration: none;
    padding: 10px;
    color: white;
    background-color: #00a651;
  }

  .Pbtn a:hover {
    background-color: grey;
  }
}
